@model WebApiCore.Models.TemplateModel
@{
    ViewData["Title"] = "Custom Template";
}


@*<div id="fb-editor"></div>
*@

<tr>
    <td>
        <div class="editor-label">
            @Html.Label("Select Template From the List")
        </div>
    </td>
    <td>
        <div>
            <div class="col-md-2">
                @Html.DropDownList("Dropdown1", ViewBag.TemplateList as SelectList)
            </div>
            <div class="col-md-2">
                <button id="loadData" type="button">Load</button>
            </div>
        </div>
    </td>

</tr>

<div id="build-wrap">
    <div id="postfixformForm" name="postfixformForm"></div>
</div>
<div class="SaveDataWrap">
    <input id="nameInput" type="text" name="TemplateName" />
    <button id="saveData" type="button">Save Data</button>
</div>


@section scripts {

    <script src="~/js/form-editor.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="~/js/senddata.js"></script>

}