@model WebApiCore.Models.TemplateModel
@{
    ViewData["Title"] = "Custom Template";
}


@*<div id="fb-editor"></div>
*@

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            @Html.DropDownList("Dropdown1", ViewBag.TemplateList as SelectList, new { @class = "btn btn-secondary dropdown-toggle" })
            <button id="loadData" type="button" class="btn btn-primary">Load Template</button>
        </div>
        <div class="col-lg-4">
            
        </div>
        <div class="col-lg-4">
            <button id="delete" type="button" class="btn btn-danger">Delete Template</button>
        </div>
    </div>
</div>

<br />
@*This will be used to save Custom forms that user can build for different scenarios.*@
<div id="mainForm" class="container">
    <form id="build-wrap">
        <div class="SaveDataWrap">
            <input id="nameInput" type="text" name="TemplateName" />
            <button id="saveData" type="button" class="btn btn-primary">Save Template</button>
        </div>
    </form>
</div>
<br />
<br />
@*This will be used to save whatever the user loaded into the screen and worked on*@
<form id="render-wrap">
</form>
<div id="saveRender" class="SaveDataWrap" style="display:none">
    <input id="dataInput" type="text" name="TemplateName" />
    <button id="saveForm" type="button" class="btn btn-primary">Save Rendered Form</button>
</div>


@section scripts {

    <script src="~/js/form-editor.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    

    @*<script src="~/js/senddata.js"></script>*@

}