@using Microsoft.AspNetCore.Identity
@using WebApiCore.Models

@inject SignInManager<Practitioner> SignInManager
@inject UserManager<Practitioner> UserManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole("PATIENT"))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item">
                <a class="nav-link text-dark title" asp-area="" asp-controller="videoCall" asp-action="Index">Video Call</a>
            </li>
            <li>
                <a class="nav-link text-dark title" asp-area="Patients" asp-controller="Lobby" asp-action="Index">Patient Lobby</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark title" asp-area="" asp-controller="AppointmentsView" asp-action="PatientIndex">Appointment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark title" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn navbar-link title">Log out</button>
            </li>
        </ul>
    </form>
}
else if (SignInManager.IsSignedIn(User) && User.IsInRole("PRAC"))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link text-dark title" asp-area="" asp-controller="videoCall" asp-action="Index">Video Call</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark title" asp-area="Practitioners" asp-controller="Lobby" asp-action="Index">Lobby</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark title" asp-area="" asp-controller="Template" asp-action="Index">Template</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark title" asp-area="" asp-controller="AppointmentsView" asp-action="Index">Appointment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark title" asp-area="" asp-controller="PatientsView" asp-action="Index">Patients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark title" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn navbar-link title">Log out</button>
            </li>
        </ul>
    </form>

}
else if (SignInManager.IsSignedIn(User))
{

<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link text-dark title" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <button type="submit" class="btn btn-link navbar-btn navbar-link title">Log out</button>
        </li>
    </ul>
</form>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link text-dark title" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark title" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}
