@{
    ViewData["Title"] = "Video Loading";
}

<app>
    <div class="d-flex justify-content-center align-items-center w-100 p-4">
        <h1 class="display-1 twilio-text">
            <strong class="pr-4">Loading...</strong>
            <span class="spinner-grow ml-auto" role="status" aria-hidden="true"></span>
        </h1>
    </div>
</app>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

