@{
    ViewData["Title"] = "EZ Medchat";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome EZ Medchat.</p>





@section scripts {
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="~/js/senddata.js"></script>

}