@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile";
}

<div class="ui-bg-cover ui-bg-overlay-container text-white" style="background-color: #87CEFA;">
    <div class="ui-bg-overlay bg-dark opacity-50"></div>
    <div class="container">
        <div class="text-center py-5">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="ui-w-100 rounded-circle">

            <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
                <h4 class="font-weight-bold my-4">John Doe</h4>

                <div class="opacity-75 mb-4">
                    In the profile, you'll be able to control your status, access the templates you've created, along with some other functionalites

                </div>
            </div>

            <div class="text-center">
                <a href="javascript:void(0)" class="d-inline-block text-white">
                    <strong>2</strong>
                    <span class="opacity-75">Patients</span>
                </a>
                <a href="javascript:void(0)" class="d-inline-block text-white ml-3">
                    <strong>0</strong>
                    <span class="opacity-75">Templates</span>
                </a><br />
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="ui-bg-overlay-container">
        <div class="ui-bg-overlay bg-dark opacity-25"></div>
        <ul class="nav nav-tabs tabs-alt justify-content-center border-transparent">

            <li class="nav-item">
                <a class="nav-link text-white py-4" href="javascript:void(0)">Patients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white py-4" href="javascript:void(0)">Templates</a>
            </li>
        </ul>
    </div>
</div>


