@model PatientLobbyViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        
        .pull-right {
            float: right !important;
        }
    </style>
}

@Html.AntiForgeryToken()

<!--display list of associated practitioners-->
<div class="card-group" id="cards">
    @await Html.PartialAsync("~/Views/Shared/_Cards.cshtml", Model)
</div>

<hr />

<!--show dropdown of online practitioners to chose a lobby-->
<div class="container">
    <select id="lobbySelect" asp-for="SelectedPractitioner"
            asp-items="@new SelectList(Model.Practitioners, nameof(Practitioner.PractitionerID), nameof(Practitioner.FullName))">
        <option value="0">Choose a Practitioner's lobby</option>
    </select>
    <button class="btn btn-primary pull-right" id="leaveBtn" disabled>
        Leave Lobby
    </button>
    <label id="lobbyMessage">@Model.LobbyMessage</label>
</div>

@section Scripts {
    <script>
        $(function () {
            /*----Intialize, start, and configure the hub----*/
            var connection = new signalR.HubConnectionBuilder().withUrl("/LobbyHub").build();

            connection.on("AvailabilityChanged", function (status) {
                if (status.isOnline == false) {
                    LeaveLobby();
                }

                PopulateCards();
            });

            connection.on("ReceiveMessage", function (message) {
                $("#lobbyMessage").text(message);
            });

            connection.start().
                then(() => console.log("Connection started!"))
                .catch( function (error) {
                    console.log('Error while establishing connection :(');
                    console.log(error);
                });

        /*----configure select and button behavior----*/
            if ($("#lobbySelect").val() != 0) {
                $("#lobbySelect").prop("disabled", true);
                $("#leaveBtn").prop("disabled", false);
            }

            $("#lobbySelect").change(function () {
                $("#lobbySelect").prop("disabled", true);
                $("#leaveBtn").prop("disabled", false);

                var model = @Json.Serialize(Model);
                var data = { "lobbyName": "John Doe DDS", "id": 1};

                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: "/Patients/Lobby/JoinLobby",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "html",
                    success: function (message) {
                        console.log("request successful");
                        $("#lobbyMessage").text(message);
                        connection.invoke("JoinLobby", "John Doe DDS", message);
                    },
                    error: function (jqxhr, status, error) {
                        console.error("request failed");
                        console.error(error);
                    }
                });
            });

            $("#leaveBtn").click(function () {
                LeaveLobby();
            });


            function PopulateCards() {
                var data = { "id": 1 };

                 $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: "/Patients/Lobby/GetPractitionersAsync",
                    type: "GET",
                    data: JSON.stringify(data),
                    dataType: "html",
                     success: function (partialView) {
                        console.log("request successful");
                        $("#cards").html(partialView);
                    },
                    error: function (jqxhr, status, error) {
                        console.error("request failed");
                        console.error(error);
                    }
                });
        }

        function LeaveLobby() {
            var model = @Json.Serialize(Model);
            var data = { "lobbyName": "John Doe DDS", "patientId": 1 };
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: "/Patients/Lobby/LeaveLobby",
                type: "POST",
                data: JSON.stringify(data),
                dataType: "html",
                success: function (message) {
                    console.log("request successful");
                    $("#lobbyMessage").text("");
                    $("#leaveBtn").prop("disabled", true);
                    $("#lobbySelect").val("0");
                    $("#lobbySelect").prop("disabled", false);
                    connection.invoke("LeaveLobby", "John Doe DDS", message);
                },
                error: function (jqxhr, status, error) {
                    console.error("request failed");
                    console.error(error);
                }
            });
        }
        });


    </script>
}